/* Clasic setup */
:root {
    --color-primary: #ffffff;
    --color-secondary: #0d0d0d;
    --color-accent: #eeba30;
    --shadow-sm: 5px 5px 2px 1px rgba(0, 0, 0, 0.8);
    --ff-header: "Roboto Serif", serif;
    --ff-content: "Sofia Sans", sans-serif;
    --h1: normal 56px / 72px var(--ff-header);
    --h1-mobile: normal 32px / 48px var(--ff-header);
    --p: normal 18px / 48px var(--ff-header);
    --text: normal 18px / 18px var(--ff-content);
}

/* animations */
@keyframes astronaut {
    from {
        translate: 0px -20px;
        rotate: 0deg;
    }

    to {
        translate: 0px 20px;
        rotate: 360deg;
    }
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes bounce {
    from {
        translate: 0px -5px;
    }

    to {
        translate: 0px 5px;
    }
}

html {
    scroll-snap-type: y mandatory;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font: var(--p);
    margin: 0;
}

h1 {
    font: var(--h1);
}

p {
    font: var(--p);
}

logo {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

/* header stuff */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}

header * {
    font: var(--text);
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

header a {
    white-space: nowrap;
    color: var(--color-primary);
    padding-right: 1.5rem;
}

header a:hover {
    color: var(--color-accent);
}

header ul:not(.mobile) li:not(:last-child) a {
    border-right: 2px solid var(--color-primary);
}

header ul.mobile {
    flex-direction: column;
}

header ul.mobile li:not(:last-child) a {
    border-bottom: 2px solid var(--color-primary);
}

/* earth and rocket stuff */

div:has(img.earth) {
    text-align: center;
    width: fit-content;
}

div:has(img.earth) h1 {
    width: 400px;
}

div:has(img.earth) h1>span {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

img.earth {
    position: absolute;
    top: -30px;
    left: 0;
    width: 400px;
    height: 400px;
}

div:has(img.rocket) p {
    width: 400px;
}

div:has(img.rocket) p>span {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

div:has(img.rocket) p>span:hover {
    color: var(--color-accent);
}

img.rocket {
    position: absolute;
    top: 100px;
    transform: rotate(45deg);
    animation: 1.5s infinite alternate bounce ease-in-out;
}

/* rest of the planets and objects*/

div.planets>img[alt="Astronaut"] {
    right: 40%;
    top: 35rem;
    animation: 5s infinite alternate astronaut ease-in-out;
}

div.planets>img[alt="Planet Pluto"] {
    top: 20rem;
    right: 20%;
    animation: 3s infinite alternate bounce ease-in-out;
    opacity: 0.4;
}

div.planets>img[alt="Planet Saturn"] {
    left: 5%;
    top: 10rem;
    animation: 2s infinite alternate bounce ease-in-out;
    opacity: 0.5;
}

div.planets>img[alt="Planet Neptune"] {
    right: 8%;
    top: 30rem;
    animation: 2.5s infinite alternate bounce ease-in-out;
    opacity: 0.5;
}

div.planets>img[alt="Planet Venera"] {
    left: 8%;
    top: 35rem;
    animation: 3.2s infinite alternate bounce ease-in-out;
    opacity: 0.4;
}

section {
    margin-bottom: 200px;
    scroll-snap-align: start;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

section>p {
    font: var(--text);
}

/* footer stuff */
footer {
    background-color: black;
    padding: 20px;
}

footer a {
    color: var(--color-primary);
}

/* rest of the sections */

#hajde-da-zajedno-radimo img[alt="Planet Saturn"] {
    rotate: 60deg;
    left: 30%;
}

#hajde-da-zajedno-radimo img[alt="Astronaut"] {
    left: 10%;
    translate: 0 400px;
    animation: 30s rotate linear infinite;
}

#hajde-da-zajedno-radimo img[alt="Rocket"] {
    left: 20%;
    translate: 100px 400px;
    animation: 120s rotate reverse linear infinite;
}

#zasto-mozete-da-nam-verujete img[alt="Planet Neptune"] {
    right: -100px;
}

#zasto-mozete-da-nam-verujete img[alt="Astronaut"] {
    left: 25%;
    bottom: 850px;
    animation: 30s rotate linear infinite;
}

#zasto-mozete-da-nam-verujete img[alt="Rocket"] {
    left: 15%;
    bottom: 650px;
    animation: 120s rotate reverse linear infinite;
}

#cime-se-bavimo div:has(img[alt="Blueprint"]) {
    translate: -30px -250px;
}

#cime-se-bavimo img[alt="Blueprint"] {
    translate: 30% -850px;
    animation: 130s rotate linear infinite;
}

#cime-se-bavimo img[alt="Hammer"] {
    left: 55%;
    translate: 0 -400px;
    animation: 90s rotate reverse linear infinite;
}

#cime-se-bavimo img[alt="Microscope"] {
    right: 10%;
    animation: 100s rotate linear infinite;
    translate: 0 -100px;
}

#otkricemo-vam-tajnu img[alt="Planet Pluto"] {
    right: -200px;
    translate: 0 -100px;
}

#otkricemo-vam-tajnu img[alt="Astronaut"] {
    right: 17px;
    rotate: -40deg;
    translate: 0 -180px;
}

#otkricemo-vam-tajnu img[alt="Rocket"] {
    right: 30px;
    rotate: -14deg;
    translate: 0 -260px;
}

@media screen and (min-width: 550px) {
    header>button {
        display: none;
    }

    section {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* rest of the sections */

    #hajde-da-zajedno-radimo img[alt="Planet Saturn"] {
        rotate: 60deg;
        left: 30%;
    }

    #hajde-da-zajedno-radimo img[alt="Astronaut"] {
        right: 10%;
        animation: 30s rotate linear infinite;
    }

    #hajde-da-zajedno-radimo img[alt="Rocket"] {
        right: 20%;
        animation: 120s rotate reverse linear infinite;
    }

    #zasto-mozete-da-nam-verujete p.accent-bottom {
        min-height: 8rem;
    }

    #zasto-mozete-da-nam-verujete img[alt="Planet Neptune"] {
        right: -100px;
    }

    #zasto-mozete-da-nam-verujete img[alt="Astronaut"] {
        left: 25%;
        bottom: 300px;
        animation: 30s rotate linear infinite;
    }

    #zasto-mozete-da-nam-verujete img[alt="Rocket"] {
        left: 15%;
        bottom: 50px;
        animation: 120s rotate reverse linear infinite;
    }

    #cime-se-bavimo div:has(img[alt="Blueprint"]) {
        translate: -30px -250px;
    }

    #cime-se-bavimo img[alt="Blueprint"] {
        translate: 0 0;
        animation: 130s rotate linear infinite;
    }

    #cime-se-bavimo img[alt="Hammer"] {
        left: 55%;
        translate: 0 100px;
        animation: 90s rotate reverse linear infinite;
    }

    #cime-se-bavimo img[alt="Microscope"] {
        right: 10%;
        animation: 100s rotate linear infinite;
        translate: 0 100px;
    }

    /* utility classes */
    .text-sm {
        font-size: 1.5rem !important;
        line-height: 2.5rem !important;
    }

    .text-lg {
        font-size: 2rem !important;
        line-height: 3rem !important;
    }

    .btn-primary {
        color: var(--color-secondary);
        background-color: var(--color-accent);
        padding: 20px 40px;
        cursor: pointer;
        font: var(--text);
        border: none;
        transition: all 0.2s ease;
    }
}

/* mobile style */
@media screen and (max-width: 549px) {
    header>ul:not(.mobile) {
        display: none;
    }

    section:not(:has(div.planets)) h1 {
        font: var(--h1-mobile);
    }

    #cime-se-bavimo div.flex>div {
        width: 100%;
    }
}

/* utility classes */

.hidden {
    display: none;
}

.text-xl {
    font-size: 1.7rem !important;
    line-height: 4rem;
}

.text-lg {
    font-size: 1.5rem !important;
    line-height: 2.6rem !important;
}

.text-sm {
    font-size: 1.3rem !important;
    line-height: 2.5rem !important;
}

.text-center {
    text-align: center;
}

.text {
    font: var(--text);
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.accent-bottom {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--color-accent);
}

.col {
    flex-direction: column;
}

.col-reverse {
    flex-direction: column-reverse;
}

.w-fit {
    width: fit-content;
}

.w-full {
    width: 100%;
}

.h-fit {
    height: fit-content;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.accent {
    color: var(--color-accent);
}

.max-w-900 {
    max-width: 900px;
}

.max-w-800 {
    max-width: 800px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-450 {
    max-width: 450px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-350 {
    max-width: 350px;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.9);
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.-z-100 {
    z-index: -100;
}

.z-100 {
    z-index: 100;
}

.whitespace-nowrap {
    white-space: nowrap;
}

/* buttons */

.btn-primary {
    color: var(--color-secondary);
    background-color: var(--color-accent);
    padding: 20px 40px;
    cursor: pointer;
    font: var(--text);
    font-size: 1rem;
    border: none;
    transition: all 0.2s ease;
}

.btn-primary:hover {
    color: var(--color-accent);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-accent);
    scale: 1.03;
}
